/* Schriftart import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-image: url(Infinitelogin.png);
    background-size: cover;
}
/* Login Kasten */
.login{
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(240, 240, 240);
    background-color: rgb(42, 42, 42);
    padding: 35px;
}
/* Überschrift */
.login h1{
    font-size: 50px;
    margin-bottom: 30px;
    border-bottom: solid #ffae00; 
    width: 80%;  
}
/* Input divs */
.login-div{
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    padding: 12px 0;
    margin: 12px 0;
    border-bottom: solid #e4760f;

}
/* Input Design */
.login-div input{
    background: rgb(34, 34, 34);
    border: none;
    outline: none;
    color: rgb(240, 240, 240);
    font-size: 22px;
}
/* register Link */
.reg{
    margin-top: 5%;
    color: #e40f0f;
    letter-spacing: 0.5px;
}
/* Senden Knop */
.send input{
    background:none;
    width: 100%;
    border: solid #e40f0f;
    margin-top: 25px;
    font-size: 40px;
    color: rgb(200, 199, 199);
}
/* Senden Knopf Hover Effekt */
.send:hover{
    color: chocolate;
}


